body{
    background-color: rgba(123, 6, 111, 0.778);
}
a{
    text-decoration: none;
    color: black;
    font-weight: 100;
}

.abajo_izquierda{
    width: auto;
    height: 30%;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    margin-left: 2vw;
    
}
.letras_grandes{
    font-size: 1.7rem;
    
}
/* From Uiverse.io by JasonMep */ 
.boton_saldo {
  color: #ecf0f1;
  font-size:25px;
  background-color: #c90a0a;
  border: 1px solid #ff000d;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  box-shadow: 0px 6px 0px rgb(18, 17, 17);
  transition: all 0.1s;
}

.boton_activo_saldo {
  box-shadow: 0px 2px 0px #c487a8;
  position: relative;
  top: 2px;
}
/*.abajo_derecha{
    background-color: rgb(16, 7, 7);
    width: 23%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    }*/
/* From Uiverse.io by Madflows */ 
button {
 position: relative;
 display: inline-block;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 font-family: inherit;
 font-size: 15px;
}
.prioridad{
    z-index: 3;
}

.button_apuesta{
 font-weight: 600;
 color: white;
 text-transform: uppercase;
 padding: 1.25em 1.7em;
 justify-content: left;
 background: #13d42a;
 border: 2px solid #00ff1e;
 left: 8%;
 border-radius: 0.75em;
 -webkit-transform-style: preserve-3d;
 transform-style: preserve-3d;
 -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
 transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

.button_apuesta::before {
 position: absolute;
 content: '';
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: #1ca010;
 border-radius: inherit;
 -webkit-box-shadow: 0 0 0 2px #42a817, 0 0.625em 0 0 #d90a0a;
 box-shadow: 0 0 0 2px #64d31a, 0 0.625em 0 0 #0b8e2b;
 -webkit-transform: translate3d(0, 0.75em, -1em);
 transform: translate3d(0, 0.75em, -1em);
 transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.button_apuesta:hover {
 background: #40ba08;
 -webkit-transform: translate(0, 0.25em);
 transform: translate(0, 0.25em);
}

.button_apuesta:hover::before {
 -webkit-box-shadow: 0 0 0 2px #3fbf28, 0 0.5em 0 0 #63dc17;
 box-shadow: 0 0 0 2px #5cdd07, 0 0.5em 0 0 #20db0f;
 -webkit-transform: translate3d(0, 0.5em, -1em);
 transform: translate3d(0, 0.5em, -1em);
}

.button_apuesta:active {
 background: #19db12;
 -webkit-transform: translate(0em, 0.75em);
 transform: translate(0em, 0.75em);
}

.button_apuesta:active::before {
 -webkit-box-shadow: 0 0 0 2px #2fdc14, 0 0 #38cd12;
 box-shadow: 0 0 0 2px #24b417, 0 0 #22c111;
 -webkit-transform: translate3d(0, 0, -1em);
 transform: translate3d(0, 0, -1em);
}
.medio_abajo{
    width:100%;
    height: 5vh;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 37%;
    /*
    background-color: #a35475;
    */
    right: 0%;
    z-index: -1;
    bottom: 20vh;
    position: fixed;
}
.fichas{
    /*
    background-color: #11961e;
    */
    display: flex;
    justify-content: left;
    align-items: left;
    max-width: 10%;
    height: auto;
    scale: 0.27;
    margin-left: -27px;

}

.abajo ul{
   
    width: 40%;
    height: 60%;
    list-style: none;
    margin: 0%;
    display: flex;
    gap: 90px;
    align-items: center;
    padding: 1%;
    /*
    background-color: rgb(164, 48, 168);
    */
    font-size: 2rem;
}
.abajo{
    width: 100%;
    height: 15vh;
    
    background-color: rgba(78, 6, 0, 0.5);
    
    position: fixed;
    right: 0;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
    justify-content: space-between;
    /* 
    fixed: fija la barra en la pantalla
    width: el ancho que ocupa de pagina
    height: el alto que ocupa la pagina
    align-items center:alinear en el centro vertical
    justify content: alinear horizontalmente
    z-index: capas o prioridades para ver las cosas 
    bottom: separacion del suelo*/
}

.medio_arriba{
    /*
    background-color: #22e854;
    */
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 80vh;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.estado_apuesta {
    background-color: #0c0c0c;
    color: white;
    height: auto;
    width: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    font-size: 1.2rem;
    margin-right: 20px;
}
.ultimos_ganadores{
  position: absolute;
  right: 10%;
  color: white;
  /*
  background-color: rgb(237, 200, 11);
  */
  border-radius: 5px;
  margin-left: 20px;
  font-size: 1.25rem;
  min-width: 20%;
}
.ultimos_ganadores ul{
    display: flex;
    gap: 4.5%;
    list-style: none;
    margin: 0;
    padding: 0;
}
.ultimos_ganadores li{
    padding: 4px 8px;
    color: white;
}
.ultimos_ganadores_titulo{
    
    white-space: nowrap;
}
  .centro{
    /*
    background-color:blueviolet ;
    */
    width: 100%;
    height: 50vh;
    position: fixed;
    bottom: 26vh;
    z-index: 0;
}

 .img-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            margin-bottom: 20px;
        }
        
 .img-container img {
            max-width: 100%;
            height: auto;
            border: 3px solid rgb(95, 85, 26);
            border-radius: 10px;
        }

        .tabla {
            position: absolute;
            left: 69.5%;
            top: 53%;
            transform: translateY(-50%);
            border-radius: 10px;
            padding: 10px;
            box-shadow: 0 0 15px rgba(39, 44, 138, 0.5);
            width: auto;
            max-width: 380px;
            max-height: 70vh;
            overflow: auto;
            z-index: 1;
        }
        
        .tabla table {
            width: 100%;
            border-collapse: collapse;
            font-size: 0.8rem;
            table-layout: fixed;
        }
        
        .tabla th, .tabla td {
            border: 1px solid #39045f;
            padding: 6px 4px;
            text-align: center;
            word-wrap: break-word;
        }
        
        .tabla th {
            background-color: black;
            color: white;
            position: sticky;
            top: 0;
            font-size: 0.85rem;
        }
        
        .tabla tr:nth-child(even) {
            background-color: #11961e;
        }
        
        .tabla tr:nth-child(odd) {
            background-color: #bd1717de;
        }
        
        .tabla td {
            color: black;
            font-weight: 500;
        }
        
        .tabla::-webkit-scrollbar {
            width: 8px;
        }
        
        .tabla::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 10px;
        }
        
        .tabla::-webkit-scrollbar-thumb {
            background: #109f89;
            border-radius: 10px;
        }
        
        .tabla::-webkit-scrollbar-thumb:hover {
            background: #8921c6;
        }
        .color-slice{
            background: rgba(132, 131, 184, 0.8);
            backdrop-filter: blur(5px);
        }
        .lista-reglas{
            font-size: 1.2rem;
            padding: 15%;
            
        }
        .lista-terminos{
            font-size: 0.9rem;
            padding: 10%;
        }